
<div class="ui form">
	<%= form_for @trip do |f| %>
		<div class="field">
			<%= f.label :name %>
			<%= f.text_field :name %>
		</div>

		<div class="field">
			<%= f.label :destination %>
			<%= f.text_field :destination %>
		</div>

		<div class="field">
			<%= f.label :start_date %>
			<%= f.text_field :start_date %>
		</div>

		<div class="field">
			<%= f.label :end_date %>
			<%= f.text_field :end_date %>
		</div>

		<%= f.submit class: "ui button teal" %>
	<% end %>
</div>
