<h2>Invite a new co-traveller</h2>

<% if flash[:notice].present? %>
  <p class="error-msg">
    <%= flash[:notice] %>
  </p>
<% end %>

<%= form_tag("/trips/#{@trip.id}/invite", method: "post", class:"ui form") do %>
  <div class="field">
    <%= label_tag :q, "Search User Email" %>
    <%= email_field_tag :q %>
  </div>
  <%= submit_tag "Invite", class: "ui button teal" %>
<% end %>
