<h3>Trip Details</h3>

<div class="trip-users">
  <div class="ui header">
    Pandas
  </div>
  <% @trip.users.each do |u| %>
    <div class="users-list">
      <%= link_to image_tag(u.image, class:"uicon-sm"), user_path(u) %>
    </div>
  <% end %>
    <div class="">
      <a href="/trips/<%= @trip.id %>/invite">
        <i class="add user icon"></i>
      </a>
    </div>
</div>




<p>Name: <%= @trip.name %>   </p>
<p>Destination: <%= @trip.destination %>   </p>
<p>Start: <%= @trip.start_date %>  </p>
<p>End: <%= @trip.end_date %>  </p>
<ul>
  <% @trip.days.each_with_index do |d,i| %>
    <li>
      Day <%= i+1 %> -
      <%= link_to d.trip_date, trip_day_path(@trip.id, d.id) %> |
      <%= link_to "x", trip_day_path(@trip.id, d.id), data:{:confirm => "Sure?"}, :method => :delete %>
    </li>
  <% end %>
</ul>


<p> <%= link_to "Add One Day", new_trip_day_path(@trip.id) %>   </p>


<hr>
<%= link_to "Edit Trip", edit_trip_path(@trip) %> |
<%= link_to "Delete Trip", trip_path(@trip), data:{:confirm => "Are you sure"}, :method => :delete %>
