<h3>Trip Details</h3>

<div class="ui grid">
  <div class="four wide column">
    <p>Name: <%= @trip.name %>   </p>
    <p>Destination: <%= @trip.destination %>   </p>
    <p>Start: <%= @trip.start_date %>  </p>
    <p>End: <%= @trip.end_date %>  </p>


    <%= link_to "Edit Trip", edit_trip_path(@trip) %> |
    <%= link_to "Delete Trip", trip_path(@trip), data:{:confirm => "Are you sure"}, :method => :delete %>

  </div>

  <div class="eight wide column">
    <div class="ui items">
      <% @trip.days.each_with_index do |d,i| %>
        <div class="item">
            <div class="content">
              <%= link_to "Day #{i+1} | #{d.destination} ", trip_day_path(@trip.id, d.id), class:"header" %> 
              <div class="meta">
                <%= link_to d.trip_date, trip_day_path(@trip.id, d.id) %> 
              </div>
              <div class="extra">
                <%= link_to "delete", trip_day_path(@trip.id, d.id), class: "ui button right floated teal", data:{:confirm => "Sure?"}, :method => :delete %>
              </div>
            </div>
        </div>
      <% end %>
    </div>
    <p> <%= link_to "Add One Day", new_trip_day_path(@trip.id), class: "ui button teal" %>   </p>

  </div>

  <div class="four wide column">
    <div class="ui header">
      Pandas
    </div>
    <% @trip.users.each do |u| %>
      <div class="users-list">
        <%= link_to image_tag(u.image, class:"uicon-sm"), user_path(u) %>
      </div>
    <% end %>
      <div class="">
        <a href="/trips/<%= @trip.id %>/invite">
          <i class="add user icon"></i>
        </a>
      </div>
    </div>
</div>











