<h3>My Homepage</h3>

<div class="ui grid">
	<div class="four wide column">
		<%= cl_image_tag @user.image %>

		<h3><%= @user.name %></h3>

		<i class="edit small icon"></i>
		<%= link_to_if @current_user == @user, 'account settings', edit_user_path(@user) %>
		
	</div>

	<div class="twelve wide column">
		<div class="ui clearing segment">
			<h3 class="ui left floated header">
				My Trips:
				<div class="sub header">Exploration is out there!</div>
			</h3>
			<%= button_to "Add New Trip", new_trip_path, method:"get", class:"ui teal button ui right floated"%>
		</div>

		<div class="ui divided items">
			<% @user.trips.each do |trip| %>
				<div class="item">
					<div class="content">
						<%= link_to trip.name, trip_path(trip), class: "header" %>
						<div class="meta">
							<span class= "travel-dates">
								<%= trip.destination %>
								<%= trip.start_date %> 
							</span>
						</div>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>





