<%= form_for([@trip, @day], html:{class:"ui form"}) do |f| %>


  <div class="field">
    <%= f.label :trip_date %>
    <%= f.text_field :trip_date %>
  </div>

  <div class="field">
    <%= f.label :destionation %>
    <%= f.text_field :destination %>
  </div>
  <%= f.submit class: "ui button teal" %>


<% end %>
