<% if @places.present? %>
  <h2>Places match " <%= params[:q] %> "</h2>
<% else %>
  <h2>No Places match " <%= params[:q] %> "</h2>
  <%= link_to "add place yourself", new_place_path %>
<% end %>

<ul>
  <% @places.each do |p| %>
    <li>
      <%= p.name %> <%= button_to 'Add to Day', add_place_to_day_path(@trip, @day, p.id), method: :post  %>

    </li>
  <% end %>
</ul>
