<h4>
<% if @places.present? %>
  Places match " <%= params[:q] %> "
<% else %>
  <h4>No Places match " <%= params[:q] %> "
<% end %>
|
<%= link_to "add place yourself", "/trips/#{@trip.id}/days/#{@day.id}/add/new" %>
</h4>


<div class="ui divided items">
  <% @places.each do |p| %>
    <div class="item">
      <div class="image"><%= image_tag(p.image) %></div>

      <div class="content">

        <a class="header"><%= p.name %></a>

        <div class="description">
          <p><%= p.address %></p>
        </div>

        <div class="extra">
          <div class="ui label"><%= p.place_type %></div>
          <%= button_to 'Add to Day', {url: add_place_to_day_path(@trip, @day, p.id), method: :post}, {class:"ui teal button right floated"}  %>
        </div>

      </div>
    </div>
  <% end %>
</div>