<h4>
<% if @places.present? %>
  Places match " <%= params[:q] %> "
<% else %>
  <h4>No Places match " <%= params[:q] %> "
<% end %>
|
<%= link_to "add place yourself", "/trips/#{@trip.id}/days/#{@day.id}/add/new" %>
</h4>


<ul>
  <% @places.each do |p| %>
      <hr>
      <%= image_tag(p.image) %>
      <br>
      <%= p.name %> <%= button_to 'Add to Day', add_place_to_day_path(@trip, @day, p.id), method: :post  %>

  <% end %>
</ul>
