<h2>  <%= @day.trip_date %> - <%= @day.trip.name %>  </h2>

<hr>
<%= link_to "back to trip page", trip_path(@day.trip_id) %> |
<%= link_to "add new place", "/trips/#{@trip.id}/days/#{@day.id}/add" %> |
<%= link_to "edit day info", edit_trip_day_path(@trip,@day) %>

<h3>  <%=@day.destination %></h3>

<h3>Places:</h3>
<ul>
  <% @day.places.each do |p| %>
    <hr>
    <img src="<%=p.image%>" alt="">
    <br>
    <%= link_to p.name, p.map_url %>
    <br>
    <%= p.address %>
  <% end %>
</ul>
