<h2>  <%= @day.trip_date %> - <%= @day.trip.name %>  </h2>

<hr>
<%= link_to "back to trip page", trip_path(@day.trip_id) %> |
<%= link_to "add new place", new_place_path %>



<h3>Places:</h3>
<ul>
  <% @day.places.each do |p| %>
    <hr>
    <img src="<%=p.image%>" alt="">
    <br>
    <%= link_to p.name, p.map_url %>
    <br>
    <%= p.address %>
  <% end %>
</ul>
