<%= form_for(@place, html:{multipart: true} ) do |f| %>

<div class="ui form">

  <div class="field">
    <%= f.label :place_type %>
    <%= f.text_field :place_type %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :map_url %>
    <%= f.text_field :map_url %>
  </div>

  <div class="field">
    <%= f.label :url %>
    <%= f.text_field :url %>
  </div>

  <div class="field">
    <%= f.label :image %>
    <%= f.cl_image_upload :image %>
  </div>

  <%= f.submit class: "ui button teal" %>

</div>

<% end %>
